@font-face{
    font-family: fraktur shadowed;
    src: url("/fonts/fraktur_shadowed/FrakturShadowed.ttf");
}

h1{
    font-family: fraktur shadowed;
}

table {
    border-collapse: collapse;
    margin: 60px;
    margin-left: 200px;
    margin-bottom: 20px; 
}

td, th {
    width: 60px;
    height: 52px;
    padding: 10px;
    text-align: center;
    vertical-align:middle;
    position: relative;
    clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
    font-weight: bold;
}

body {
    height: 104vh; /* Altura total da janela */
    background-image: url('/3.png'); /* Caminho para a imagem */
    background-size: cover; /* Cobre toda a área do fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

.symbol {
    font-size: 16px;
    line-height: 1;
}
.symbol sub {
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 20px;
}
.name {
    font-size: 10px;
    margin-top: 3px;
}


.bg {
    background-color: #f0e6d6; 
}
.color1 {
    background-color: #c2b280; 
}
.color2 {
    background-color: #8c3b2a; 
}
.color3 {
    background-color: #556b2f;
}   
.color4 {
    background-color: #daa520;
}   
.color5 {
    background-color: #800020;
}
.color6{
    background-color: #0f52ba;
}
.color7{
    background-color: #cd7f32;
}
.color8 {
    background-color: #4682b4;
}
.color9{
    background-color: #dcdcdc;
}      